@import url('https://fonts.googleapis.com/css?family=Flamenco');

body {
  background: #76b852;
  background: -webkit-linear-gradient(to left, #76b852 , #8DC26F);
  background: linear-gradient(to left, #76b852 , #8DC26F);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titlecard {
  font-size: 5em;
  font-family: 'Flamenco', cursive;
  text-align: center;
  padding: 5%;
  color: white;
}

.pombox {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid white;
  width: 40%;
  height: 70%;
}

.timer {
  height: 150px;
  width: 80%;
  border: 1px solid red;
  margin: 5%;
}

.buttonbox-main {
  display: flex;
  justify-content: space-around;
  color: white;
  text-align: center;
  width: 50%;
}

.buttonbox-second {
  display: flex;
  justify-content: center;
  color: white;
  text-align: center;
  width: 50%;
}

button {
  background: none;
  border: none;
  font-size: 1.5em;
  width: 30%;
  margin: 10%;
  color: white;
  padding: 10px;
  text-align: center;
}

.footer {
  margin: 10%;
  color: white;
}
